@charset "utf-8";



/* Resets */
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background-color: #042f4b;
    margin: 0;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}
h1 {top:0;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3.5rem;
    color: red;
    text-align: center;
    width: 100%;
}
.aboutGame{
    display:none;
}
section{
    font-size: 1.5rem;
    color:black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  
}
li{
    margin: 5px;
}
.container{
    display: flex;
	justify-content: space-between;

  
}

.player,.computer,.aboutGame{
    text-align: center;
    background-color: white ;
     margin:10px;
     border-radius:20px  ;
    
}

.dice {
    text-align: center;
    display: inline-table;
    margin: 10px;
}

h3{
    font-size: 2.5rem;
    color:black;
    font-family: "Indie Flower", cursive;
  
}
p{ 
    margin:auto;
   font-size: 4rem;
   color: blue;
   font-family: "Indie Flower", cursive;
   border-radius:20px  ;
   border: black double;
   width:100px;
   height:100px;
   text-align: center;
}
 img{
    width: 35%;
    margin: 20px ;

}
h2{font-size: 2rem;
    color:green;
    margin-top: 0;
}


.bottom {
    text-align: center;
    display: block;
}

.butn {
    background: gray;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.butn:hover {
    background: #232931;
    text-decoration: none;
}

.roll{
    animation: roll 0.5s infinite;
  }
  
  @keyframes roll{
    0%{
      transform: rotate(180deg);
    }
    50%{
      transform: rotate(-180deg);
    }
    100%{
      transform: rotate(180deg);
    }
  }

 